name: pr
on:
  pull_request: {}
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: pnpm check:format

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - uses: dtinth/setup-github-actions-caching-for-turbo@v1
      - run: pnpm build:packages
      - run: pnpm check:lint

  packages-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - uses: dtinth/setup-github-actions-caching-for-turbo@v1
      - run: pnpm build:packages

  packages-types:
    runs-on: ubuntu-latest
    needs: packages-build
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - uses: dtinth/setup-github-actions-caching-for-turbo@v1
      - run: pnpm check:types:packages

  publint:
    runs-on: ubuntu-latest
    needs: packages-build
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - uses: dtinth/setup-github-actions-caching-for-turbo@v1
      - run: pnpm build:packages
      - run: pnpm check:package:packages

  layers:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: pnpm check:layers

  # While we do not deploy docs for PRs we still want to know that it can be built.
  # This catches issues before merging such as broken examples.
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: pnpm docs:build

  test-unit:
    runs-on: ubuntu-latest
    needs: packages-build
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - uses: dtinth/setup-github-actions-caching-for-turbo@v1
      - run: pnpm build:packages
      - run: pnpm test:unit --run

  test-types:
    runs-on: ubuntu-latest
    needs: packages-build
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - uses: dtinth/setup-github-actions-caching-for-turbo@v1
      - run: pnpm build:packages
      - run: pnpm test:unit-with-types
